@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-teal-100/40
}

.journey-card:hover .overlay {
    background: rgba(0, 0, 0, .75);
}

/* body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(134, 132, 132);
    background: linear-gradient(90deg, rgba(134, 132, 132, 0.9472163865546218) 0%, rgba(39, 146, 232, 0.9051995798319328) 50%, rgba(134, 132, 132, 0.9416141456582633) 100%);
}

h2 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    padding: 10px;
    color: goldenrod;
    text-decoration: underline;
    text-shadow: 5px 2px 5px #333;
}

.navbar ul li:hover {
    color: #26ae1f;
}

.navbar .btn {
    background-color: goldenrod;
    color: black;
    text-transform: uppercase;
    border-radius: 25%;
    padding: 10px;
    margin-left: 10px;
}

.journey {
    background: rgb(134, 132, 132);
    background: linear-gradient(90deg, rgba(134, 132, 132, 0.9472163865546218) 0%, rgba(39, 146, 232, 0.9051995798319328) 50%, rgba(134, 132, 132, 0.9416141456582633) 100%);
}

.journey-card {
    background: rgb(134, 132, 132);
    background: linear-gradient(90deg, rgba(134, 132, 132, 0.9472163865546218) 0%, rgba(39, 146, 232, 0.9051995798319328) 50%, rgba(134, 132, 132, 0.9416141456582633) 100%);
    color: black;
}

.journey-details {
    background: rgb(134, 132, 132);
    background: linear-gradient(90deg, rgba(134, 132, 132, 0.9472163865546218) 0%, rgba(39, 146, 232, 0.9051995798319328) 50%, rgba(134, 132, 132, 0.9416141456582633) 100%);
}

.participant {
    background: rgb(134, 132, 132);
    background: linear-gradient(90deg, rgba(134, 132, 132, 0.9472163865546218) 0%, rgba(39, 146, 232, 0.9051995798319328) 50%, rgba(134, 132, 132, 0.9416141456582633) 100%);
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(134, 132, 132);
    background: linear-gradient(90deg, rgba(134, 132, 132, 0.9472163865546218) 0%, rgba(39, 146, 232, 0.9051995798319328) 50%, rgba(134, 132, 132, 0.9416141456582633) 100%);
}

.links {
    display: flex;
    padding: 10px;
    width: 500px;
    justify-content: space-between;
}

.links ul {
    display: flex;
    flex-direction: column;
}

.links ul li {
    color: goldenrod;
    text-decoration: underline;
    text-shadow: 5px 2px 5px #333;
}

.links ul li:hover {
    color: #26ae1f;
} */
/* 
.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}

.facebook {
    color: goldenrod;
    font-size: 30px;
}

.instagram {
    color: goldenrod;
    font-size: 30px;
}

.twitter {
    color: goldenrod;
    font-size: 30px;
}

.youtube {
    color: goldenrod;
    font-size: 30px;
} */